<!-- đưa button + input vào đây -->
<ion-button (click)="fileInput.click()">Upload menu</ion-button>
<input
  type="file"
  hidden
  #fileInput
  (change)="onFileChange($event)"
  accept=".csv,.xls,.xlsx,.jpg,.jpeg, .png, .bmp, .webp"
/>
<image-cropper
  [imageChangedEvent]="imageChangedEvent"
  [maintainAspectRatio]="true"
  [aspectRatio]="4 / 3"
  format="png"
  (imageCropped)="imageCropped($event)"
  (imageLoaded)="imageLoaded($event)"
  (cropperReady)="cropperReady()"
  (loadImageFailed)="loadImageFailed()"
></image-cropper>

<!-- Crop tools -->
<ion-grid>
  <ion-row>
    <ion-col
      ><ion-button (click)="rotateLeft()">Rotate Left</ion-button></ion-col
    >
    <ion-col
      ><ion-button (click)="rotateRight()">Rotate Right</ion-button></ion-col
    >
    <ion-col
      ><ion-button (click)="flipHorizontal()">Flip H</ion-button></ion-col
    >
    <ion-col><ion-button (click)="flipVertical()">Flip V</ion-button></ion-col>
    <ion-col
      ><ion-button color="success" (click)="confirmCrop()"
        >Confirm</ion-button
      ></ion-col
    >
  </ion-row>
</ion-grid>
@if (selectedImage) {
<ion-card>
  <ion-card-header>
    <ion-card-title>Preview</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-img
      style="width: 500px; height: 500px; display: block; margin: auto"
      [src]="selectedImage"
    ></ion-img>
  </ion-card-content>
</ion-card>
} @if (parsedData.length > 0) {
<ion-list>
  <ion-label>Selected Menu</ion-label>

  @for (item of parsedData; track item) {
  <ion-item>
    <ion-label>
      <h2>{{ item.nameSet?.en?.name ?? "" }}</h2>
      <p>
        {{ item.categoryID }} -
        {{ item.price_delivery | currency : "VND" }}
      </p>
    </ion-label>

    @if (item.img?.url) {
    <ion-thumbnail slot="end">
      <img [src]="item.img.url" />
    </ion-thumbnail>
    }
  </ion-item>
  }
</ion-list>

}
<ion-content>
  {{ resultAnalyze }}
</ion-content>
<app-loading [isLoading]="isLoading"></app-loading>
