<!-- đưa button + input vào đây -->
<ion-button (click)="fileInput.click()">Upload menu</ion-button>
<input
  type="file"
  hidden
  #fileInput
  (change)="onFileChange($event)"
  accept=".csv,.xls,.xlsx"
/>

<ion-list *ngIf="parsedData.length > 0">
  <ion-label>Selected Menu</ion-label>
  <ion-item *ngFor="let item of parsedData">
    <ion-label>
      <h2>{{ item.nameSet?.en?.name || '' }}</h2>
      <p>{{ item.categoryID }} - {{ item.price_delivery | currency: 'VND' }}</p>
    </ion-label>
    <ion-thumbnail slot="end" *ngIf="item.img.url">
      <img [src]="item.img.url" />
    </ion-thumbnail>
  </ion-item>
</ion-list>
  <!-- <ion-button color="success" *ngIf="parsedData.length > 0" (click)="downloadJson()">
    Download JSON
  </ion-button> -->
 <pre>{{ parsedData | json }}</pre>