.menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.preview-card {
  width: 50vw;            // 80% chiều rộng màn hình
  max-width: 800px;       // tuỳ chọn: giới hạn max nếu muốn
  margin: 0 auto;         // căn giữa theo chiều ngang
  display: flex;
  justify-content: center;
  align-items: center;

  ion-card-content {
    display: flex;
    justify-content: center;
    align-items: center;

    ion-img {
      width: 100%;
      height: auto;
      object-fit: contain; // giữ nguyên tỉ lệ ảnh
    }
  }
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  // height: 100vh; // full màn hình để căn giữa dọc
}
